flows.json
[{"id":"ed301e89.f1f5","type":"ibmiot in","z":"dcd2db53.548708","authentication":"apiKey","apiKey":"9f2cb366.e8659","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Arduino","applicationId":"","deviceType":"IOT_P","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":300,"wires":[["ecab09c4.a61f98","a05fa4cb.8369f8","6ecd28fa.11e1d8","5b448ec1.0378c"]]},{"id":"a05fa4cb.8369f8","type":"function","z":"dcd2db53.548708","name":"temperature","func":"msg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":340,"wires":[["ecab09c4.a61f98","6c80b004.788df","cd59fd84.d369","1f210c7.802a3f4"]]},{"id":"6ecd28fa.11e1d8","type":"function","z":"dcd2db53.548708","name":"Humidity","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":420,"wires":[["ecab09c4.a61f98"]]},{"id":"5b448ec1.0378c","type":"function","z":"dcd2db53.548708","name":"Soil moisture","func":"msg.payload= msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":500,"wires":[["ecab09c4.a61f98"]]},{"id":"ecab09c4.a61f98","type":"debug","z":"dcd2db53.548708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":300,"wires":[]},{"id":"6c80b004.788df","type":"ui_gauge","z":"dcd2db53.548708","name":"","group":"bc6bc432.313a28","order":4,"width":8,"height":5,"gtype":"gage","title":"Temperature_Gauge","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#b3000c","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":380,"wires":[]},{"id":"cd59fd84.d369","type":"ui_gauge","z":"dcd2db53.548708","name":"","group":"bc6bc432.313a28","order":8,"width":8,"height":5,"gtype":"gage","title":"Humidity_gauge","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#d56930","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":460,"wires":[]},{"id":"1f210c7.802a3f4","type":"ui_gauge","z":"dcd2db53.548708","name":"","group":"bc6bc432.313a28","order":6,"width":9,"height":5,"gtype":"gage","title":"Soil_gauge","label":"mg","format":"{{value}}","min":0,"max":"100","colors":["#ee7e17","#c9c926","#ca3838"],"seg1":"","seg2":"","x":850,"y":560,"wires":[]},{"id":"f040a70c.ca33d8","type":"ibmiot out","z":"dcd2db53.548708","authentication":"apiKey","apiKey":"9f2cb366.e8659","outputType":"cmd","deviceId":"Arduino_1","deviceType":"Output","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":720,"y":100,"wires":[]},{"id":"b6730cb9.8f8ea","type":"ui_switch","z":"dcd2db53.548708","name":"","label":"Motor Control Switch","tooltip":"","group":"bc6bc432.313a28","order":29,"width":4,"height":2,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"command\" : \"Switch ON\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"command\" : \"Switch OFF\"}","offvalueType":"json","officon":"","offcolor":"","x":340,"y":160,"wires":[["f040a70c.ca33d8","ecab09c4.a61f98"]]},{"id":"9f2cb366.e8659","type":"ibmiot","z":"","name":"iotdevice","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"bc6bc432.313a28","type":"ui_group","z":"","name":"Farmers app","tab":"20523593.9ac3ba","order":1,"disp":true,"width":"30","collapse":false},{"id":"20523593.9ac3ba","type":"ui_tab","z":"","name":"AgriGo App","icon":"dashboard","disabled":false,"hidden":false}]