Node-red Flow.json
[{"id":"dcd2db53.548708","type":"tab","label":"Smart Agriculture System","disabled":false,"info":""},{"id":"ed301e89.f1f5","type":"ibmiot in","z":"dcd2db53.548708","authentication":"apiKey","apiKey":"9f2cb366.e8659","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Arduino","applicationId":"","deviceType":"IOT_P","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":300,"wires":[["ecab09c4.a61f98","a05fa4cb.8369f8","6ecd28fa.11e1d8","5b448ec1.0378c"]]},{"id":"a05fa4cb.8369f8","type":"function","z":"dcd2db53.548708","name":"temperature","func":"msg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":340,"wires":[["ecab09c4.a61f98","6c80b004.788df","cd59fd84.d369","1f210c7.802a3f4"]]},{"id":"6ecd28fa.11e1d8","type":"function","z":"dcd2db53.548708","name":"Humidity","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":420,"wires":[["ecab09c4.a61f98"]]},{"id":"5b448ec1.0378c","type":"function","z":"dcd2db53.548708","name":"Soil moisture","func":"msg.payload= msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":500,"wires":[["ecab09c4.a61f98"]]},{"id":"ecab09c4.a61f98","type":"debug","z":"dcd2db53.548708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":300,"wires":[]},{"id":"6c80b004.788df","type":"ui_gauge","z":"dcd2db53.548708","name":"","group":"b4005ffe.8a28b","order":4,"width":6,"height":4,"gtype":"gage","title":"Temperature_Gauge","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#b3000c","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":380,"wires":[]},{"id":"cd59fd84.d369","type":"ui_gauge","z":"dcd2db53.548708","name":"","group":"b4005ffe.8a28b","order":8,"width":6,"height":4,"gtype":"gage","title":"Humidity_gauge","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#d56930","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":460,"wires":[]},{"id":"1f210c7.802a3f4","type":"ui_gauge","z":"dcd2db53.548708","name":"","group":"b4005ffe.8a28b","order":6,"width":6,"height":4,"gtype":"gage","title":"Soil_gauge","label":"mg","format":"{{value}}","min":0,"max":"100","colors":["#ee7e17","#c9c926","#ca3838"],"seg1":"","seg2":"","x":850,"y":560,"wires":[]},{"id":"f040a70c.ca33d8","type":"ibmiot out","z":"dcd2db53.548708","authentication":"apiKey","apiKey":"9f2cb366.e8659","outputType":"cmd","deviceId":"Arduino","deviceType":"IOT_P","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":720,"y":100,"wires":[]},{"id":"e331b237.6dd15","type":"ui_button","z":"dcd2db53.548708","name":"","group":"b4005ffe.8a28b","order":25,"width":8,"height":2,"passthru":true,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"Motor ON\"}","payloadType":"json","topic":"","x":140,"y":80,"wires":[["f040a70c.ca33d8","ecab09c4.a61f98","af182a5b.ce5928"]]},{"id":"490eeba.8340714","type":"ui_button","z":"dcd2db53.548708","name":"","group":"b4005ffe.8a28b","order":27,"width":8,"height":2,"passthru":true,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"Motor OFF\"}","payloadType":"json","topic":"","x":150,"y":200,"wires":[["f040a70c.ca33d8","ecab09c4.a61f98","13855307.801afd"]]},{"id":"af182a5b.ce5928","type":"ui_toast","z":"dcd2db53.548708","position":"bottom right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"Motor is ON now","name":"","x":440,"y":40,"wires":[]},{"id":"13855307.801afd","type":"ui_toast","z":"dcd2db53.548708","position":"bottom right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"Motor is off now","name":"","x":400,"y":260,"wires":[]},{"id":"35263e9d.b80812","type":"http request","z":"dcd2db53.548708","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Mumbai,%20IN%20&appid=271dccbe5caaa0127ec5d94e839920cf","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":620,"wires":[["ecab09c4.a61f98","63016b6.ceb2994","d810c38a.3f02","d431a37a.0cc9a","57f2a0f1.ba9d2"]]},{"id":"6182f9a1.8facb8","type":"inject","z":"dcd2db53.548708","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":620,"wires":[["35263e9d.b80812"]]},{"id":"613c4a9a.c62444","type":"ui_text","z":"dcd2db53.548708","group":"8a4ce5ff.bfcab8","order":2,"width":8,"height":2,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":700,"wires":[]},{"id":"63016b6.ceb2994","type":"change","z":"dcd2db53.548708","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":680,"wires":[["613c4a9a.c62444"]]},{"id":"d810c38a.3f02","type":"change","z":"dcd2db53.548708","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":760,"wires":[["2d75a901.3301a6"]]},{"id":"d431a37a.0cc9a","type":"change","z":"dcd2db53.548708","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":800,"wires":[["f079714d.64e21"]]},{"id":"57f2a0f1.ba9d2","type":"change","z":"dcd2db53.548708","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":860,"wires":[["12f5c33c.cb475d"]]},{"id":"2d75a901.3301a6","type":"ui_text","z":"dcd2db53.548708","group":"8a4ce5ff.bfcab8","order":7,"width":8,"height":2,"name":"","label":"Pressure","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":760,"wires":[]},{"id":"f079714d.64e21","type":"ui_text","z":"dcd2db53.548708","group":"8a4ce5ff.bfcab8","order":17,"width":8,"height":2,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":820,"wires":[]},{"id":"12f5c33c.cb475d","type":"ui_text","z":"dcd2db53.548708","group":"8a4ce5ff.bfcab8","order":12,"width":8,"height":2,"name":"","label":"Wind Speed","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":880,"wires":[]},{"id":"9f2cb366.e8659","type":"ibmiot","z":"","name":"iotdevice","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"b4005ffe.8a28b","type":"ui_group","z":"","name":"Sensor data","tab":"20523593.9ac3ba","order":2,"disp":true,"width":27,"collapse":false},{"id":"8a4ce5ff.bfcab8","type":"ui_group","z":"","name":"Group 2","tab":"d60a4180.1851b","order":2,"disp":false,"width":20,"collapse":false},{"id":"20523593.9ac3ba","type":"ui_tab","z":"","name":"AgriGo App","icon":"dashboard","disabled":false,"hidden":false},{"id":"d60a4180.1851b","type":"ui_tab","z":"","name":"Weather Parameters","icon":"dashboard","disabled":false,"hidden":false}]